%h2= "#{ @project.name }: the next #{ @days } days"

- if @project_starting
  %p= "The project is starting on #{ @project.kickoff.strftime('%a, %-d %b') }"

- if @project_ending
  %p= "The project is ending on #{ @project.end_at.strftime('%a, %-d %b') }"

- if @memberships_leaving.any?
  %h4 Leaving the project
  %ul
  - @memberships_leaving.each do |membership|
    %li
      = image_tag membership.user.decorate.gravatar_url(30)
      = "#{membership.user.first_name} #{membership.user.last_name} (#{ membership.ends_at.strftime('%a, %-d %b') })"

- if @memberships_joining.any?
  %h4 Joining the project
  %ul
  - @memberships_joining.each do |membership|
    %li
      = image_tag membership.user.decorate.gravatar_url(30)
      = "#{membership.user.first_name} #{membership.user.last_name} (#{ membership.starts_at.strftime('%a, %-d %b') })"
