.row
  = simple_form_for project  do |f|
    .col-xs-9
      = f.input :name
      = f.input :slug
      = f.input :end_at, as: :date_picker, wrapper: :prepend, label_html: { class: 'input-group-addon' }
      = f.input :kickoff, as: :date_picker, wrapper: :prepend, label_html: { class: 'input-group-addon' }
      = f.input :potential, as: :boolean, wrapper: :vertical_boolean, label: false, inline_label: true, input_html: { checked: project.potential }
      = f.input :project_type, label: 'Type', collection: Project::POSSIBLE_TYPES, label_method: ->(l) {l.humanize}, include_blank: false
    .col-xs-3#project-membership{ style: 'display: none' }
      .h3 Attached users:
      %table.table.table-hover
        %thead
          %tr
            %td
            %td First Name
            %td Last Name
            %td Stays?
        %tbody
          - project.memberships.unfinished.each do |membership|
            = f.simple_fields_for :memberships, membership do |fa|
              %tr
                %td= membership.user.decorate.gravatar_image({size: 40})
                %td= membership.user.first_name
                %td= membership.user.last_name
                %td.warning
                  = fa.input :stays, as: :boolean, label: false
    .col-xs-12.actions
      = link_to "Back", :back, class: "btn btn-default btn-sm"
      = f.button :submit, "Save", class: "btn-success"
