%div.col-md-4
  = form_tag projects_path, :method => 'get' do
    %div.input-group
      = text_field_tag :search, params[:search], placeholder: 'projects', class: "form-control"
      %span.input-group-btn
        = submit_tag 'search', :name => nil, class: "btn btn-default sbutton"
- if projects.present?
  %table.table
    %thead
      %th Projects
      %tbody
      - projects_sorted.each do |project|
        %tr
          %td
            = link_to project.name, project
            - if current_user.admin?
              - if project.potential?
                = link_to 'Delete', project, method: :delete, data: { confirm: "Are you sure you want to delete the project #{project.name} ? It's better to 'archive' the project rather than delete it completely." }, class: "btn btn-danger btn-xs pull-right"
              = link_to 'Edit', edit_project_path(project), class: "btn btn-default btn-xs pull-right"
-else
  %h2 No projects

= link_to 'New Project', new_project_path, class: "btn btn-primary" if current_user.admin?
