.col-xs-5
  = simple_form_for ability do |f|
    = f.input :name
    .icon-preview
      %img.icon-preview__image
    = f.input :icon, as: 'file', label: 'New icon'
    = f.input :remove_icon, as: 'boolean'
    .actions
      = f.button :submit, class: 'btn-success', confirm: 'Are you sure?'
