.inline.project
  - if membership.booked && membership.ends_at
    = link_to membership.project, project_path(membership.project)
    ( #{icon('calendar')} #{membership.decorate.ends_at.to_date} )
  - else
    - if membership.project.potential?
      = tooltip "Potential project" do
        = glyphicon("asterisk", class: "potential")
    - unless membership.billable?
      = tooltip "Notbillable" do
        = glyphicon("exclamation-sign", class: "notbillable info")
    = link_to membership.project, project_path(membership.project)
    ( #{membership.decorate.date_range} )
