.container
  %ul.nav.nav-tabs
    %li.box__tab.active= link_to 'Table view', '#table_view', data: { toggle: 'tab' }
    %li.box__tab= link_to 'Cards view', '#cards_view', data: { toggle: 'tab' }
  .tab-content
    .tab-pane#cards_view
      - roles.each do |role|
        .row
          .col-md-12
            %h3= role.name.capitalize
          .col-md-12
            = "no candidates" if role.users.blank?
            - role.users.each do |user|
              .row
                .col-md-3
                  .user-card
                    .avatar
                      = user.gravatar_image
                    .name
                      = profile_link user
                    .available_since
                      available since:
                      #{user.availability.present? ? user.availability.to_date : "since now"}
                    .hours
                      hours: #{user.employment}h
                    .link_to_cv
                      = link_to 'link to profile pdf', '#'
                    .last_projects
                      last projects:
                      %ul
                        - user.memberships.each do |p|
                          %li= link_to p.project_name, project_path(p.project)
                    - if user.has_potential_projects?
                      .potential_projects
                        potential projects:
                        %ul
                          - user.potential_memberships.each do |p|
                            %li
                              %span{ rel: 'tooltip', title: p.potential_start, data: { placement: 'right' } }
                                = link_to p.project.name, project_path(p.project)
                    - if user.booked_memberships.present?
                      .booked
                        booked:
                        %ul
                          - user.booked_memberships.each do |m|
                            %li
                              %span{ rel: 'tooltip', title: m.ends_at.to_date, data: { placement: 'right' } }
                                = link_to m.project.name, project_path(m.project)
                    .current_project
                      - if user.current_project.present?
                        current project:
                        = link_to user.current_project, project_path(user.current_project)
                      - else
                        There is no current project
                    .skills
                      - if user.abilities.present?
                        %ul
                          skills:
                          %li
                            = user.abilities_names.join(" | ")
                      - else
                        This guy has no skills whatsoever.


    .tab-pane.active#table_view
      %table.table.table-striped.table-hover#available_users
        %thead
          %th
          %th User
          %th Role
          %th Available
          %th Per month
          %th Current project
          %th Projects
          %th Booked

        %tbody
          - users.each do |user|
            %tr
              %td= user.gravatar_image(size: :thumb)
              %td
                = profile_link user
                .icons
                  = mail_to user.email do
                    = tooltip user.email do
                      = icon 'envelope-o'
                  = tooltip user.gh_nick do
                    = user.github_link(icon: true)
                  = tooltip user.skype do
                    = user.skype_link()
              %td= user.role
              %td #{user.availability.present? ? user.availability.to_date : "since now"}
              %td #{user.employment}h
              %td
                - if user.current_project.present?
                  = link_to user.current_project, project_path(user.current_project)
              %td
                = render partial: 'membership', collection: user.last_membership
                = 'Next:' if user.has_next_projects?
                = render partial: 'membership', collection: user.next_memberships
                = 'Potential:' if user.has_potential_projects?
                = render partial: 'membership', collection: user.potential_memberships
              %td
                = render partial: 'membership', collection: user.booked_memberships
