.container
  - roles.each do |role|
    .row
      %h3= role.name.capitalize
      .row
        = "no candidates" if role.users.blank?
        - role.users.each do |user|
          .col-md-3
            .user
              .avatar
                %center= user.gravatar_image(size: 100)
              .name
                = link_to user.name, user_path(user)
              .available_since
                available since:
                #{user.availability.present? ? user.availability.to_date : "since now"}
              .hours
                hours: #{user.employment}h
              .link_to_cv
                = link_to "link to profile pdf", '#'
              .last_projects
                last projects:
                %ul
                  - user.memberships.each do |p|
                    %li= link_to p.project_name, project_path(p.project)
              - if user.has_potential_projects?
                .potential_projects
                  potential projects:
                  %ul
                    - user.potential_memberships.each do |p|
                      %li
                        %span{ rel: 'tooltip', title: p.potential_start, :'data-placement' => 'right' }
                          = link_to p.project.name, project_path(p.project)
              .current_project
                current project:
                - if user.memberships.present?
                  = user.current_project

